<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chat</title>
  <link rel="icon" type="image/png" href="client/favicon.png">
  <link rel="stylesheet" href="client/scss/prefixed/app.css">
</head>

<body>
  <div class="backgroundImage" style="background-image: url(<%= wallpaper %>)"></div>
  <div class="backgroundColor"></div>
  <div class="wrapper flex">
    <%- include('header'); %>
    <main class="mainContainer chatPage flex">
      <section class="chatContainer flex">
        <div class="chatContainer__msgList flex">
          <div class="chatContainer__msgList__list flex"></div>
          <form class="chatContainer__msgList__form flex">
            <input class="chatContainer__msgList__form__inputMsg input" type="text" name="" value="" placeholder="Say something...">
            <button class="chatContainer__msgList__form__sendBtn btn" type="submit" name="chatContainer__msgList__form__sendBtn">Send</button>
          </form>
        </div>
        <section class="chatContainer__botInfo flex">
          <img class="chatContainer__botInfo__icon" src="./client/scss/icons/interface/bot.png" alt="Bot icon">
          <p><%= botName %></p>
        </section>
      </section>
    </main>
    <%- include('about'); %>
    <%- include('settings'); %>
  </div>
  <%- include('scripts'); %>
</body>

</html>
