<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link rel="icon" type="image/png" href="src/favicon.png">
  <link rel="stylesheet" href="src/scss/prefixed/app.css">
</head>

<body>
  <div id="backgroundImage" class="backgroundImage"></div>
  <div class="wrapper flex">
    <%- include('header'); %>
    <main class="mainContainer flex">
      <div id="formContainer__container" class="formContainer__container">
        <div class="formContainer flex">
          <form class="form" method="get">
            <input class="questionBox" type="text" name="question" placeholder="What are you searching for ?">
            <button type="submit" name="questionBox__submitBtn">
              <svg class="formSubmit" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="lightgrey" stroke-width="3" stroke-linecap="round" stroke-linejoin="arcs">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
              </svg>
            </button>
          </form>
          <div class="suggestions"></div>
        </div>
      </div>
      <span class="converter">
        <section class="converter__body flex">
          <img class="converter__body__remove flex" alt="Hide the converter" src="./src/scss/icons/interface/cross.svg">
          <select class="converter__body__value1 flex">
            <option value="Choose a value">Choose a value</option>
            <option value="Byte">Byte</option>
            <option value="Kilobyte">Kilobyte</option>
            <option value="Megabyte">Megabyte</option>
            <option value="Gigabyte">Gigabyte</option>
            <option value="Terabyte">Terabyte</option>
          </select>
          <input class="converter__body__input input" placeholder="Enter a value here">
          <select class="converter__body__value2 flex">
            <option value="Choose a value">Choose a value</option>
            <option value="Byte">Byte</option>
            <option value="Kilobyte">Kilobyte</option>
            <option value="Megabyte">Megabyte</option>
            <option value="Gigabyte">Gigabyte</option>
            <option value="Terabyte">Terabyte</option>
          </select>
          <input class="converter__body__result input">
        </section>
      </span>
      <div class="msgContainer">
        <%= typeof msg != 'undefined' ? msg : '' %>
      </div>
      <div class="audio">
        <img class="audio__remove removeContentBtn flex" alt="Remove the audio player" src="./src/scss/icons/interface/cross.svg">
        <span class="audio__container flex">
          <div class="audio__container__msg flex"></div>
          <div class="audio__container__player flex"></div>
        </span>
      </div>
      <div class="contentContainers flex">
        <div class="content__container content1__container flex" id="content1__container">
          <div class="content content1 flex" id="content1">
            <%- include('addFeedForm'); %>
          </div>
        </div>
        <div class="content__container content2__container flex" id="content2__container">
          <div class="content content2 flex" id="content2">
            <%- include('addFeedForm'); %>
          </div>
        </div>
        <div class="content__container content3__container flex" id="content3__container">
          <div class="content content3 flex" id="content3">
            <%- include('addFeedForm'); %>
          </div>
        </div>
      </div>
    </main>
    <%- include('settings'); %>
    <div class="rssTooltip flex"></div>
    <%- include('about'); %>
    <div class="confirmation click">
      <section class="confirmation__child flex">
        <h1 class="confirmation__child__title">Watch out !</h1>
        <span class="confirmation__child__content flex">
          <p class="confirmation__child__content__msg">Do you really want to remove this content ?</p>
        </span>
        <span class="confirmation__child__btnContainer flex">
          <button class="confirmation__child__btnContainer__cancelBtn btn btn--red" type="button" name="confirmation__child__btnContainer__cancelBtn">Nooooooo !</button>
          <button class="confirmation__child__btnContainer__saveBtn btn btn--green" type="button" name="confirmation__child__btnContainer__saveBtn">Yep yep</button>
        </span>
      </section>
    </div>
    <div class="loading flex">
      <img class="loading__img" alt="Loading image" src="src/scss/icons/interface/loading.png" />
    </div>
    <%- include('footer'); %>
  </div>
  <%- include('scripts'); %>
</body>

</html>
